<ul id="flash-message-list">
<% flash.each do |key, value| %>
  <% if key == "success" %>
  <li class="flash-success-message"><%= key %>: <%= value %></li>
  <% else %>
  <li class="flash-error-message"><%= key %>: <%= value %></li>
  <% end %>
<% end %>
</ul>
