<%if @photos.any? %>
  <ul class="photo-list">
    <% @photos.each do |photo|%>
            <li class="photo-list-item" id="<%= photo.id %>">
              <%= render "photos/partial_views/photo_content", photo: photo,
                          heading_1: false, size: size %>
              <%= render "photos/partial_views/list_of_photo_comments",
                          photo: photo, range: 0..2, render_more: true %>
            </li>
            <%end%>
    </ul>
<%end%>
