body {
  background-color: #FFF4E3;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.navigation-button {
  background-color: #9DC3A9; /* Green */
  border: none;
  color: #9DC3A9;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h2 {
  font-size: 28px;
  padding: 10px 10px 10px 10px;
  margin: 5px 20px 5px 20px;
}

h3 {
  font-size: 26px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

*
{
   font-family: 'Questrial', sans-serif;
   color: #808080;
}
